# Importing Data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\Oa\Career Foundry\Data'

In [25]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'merged_4.7.pkl'))

In [26]:
df_ords_prods_merge.shape

(32434212, 17)

In [27]:
df_ords_prods_merge.groupby('product_name')

In [28]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Oa\AppData\Local\Temp\ipykernel_15700\136815596.py:1: FutureWarning: The provided callable <function max at 0x00000215AFBCCC20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [29]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [30]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [31]:
# Finding the mean of spenders by loyalty flag

In [32]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

In [33]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [34]:
df_ords_prods_merge['mean_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.mean)

C:\Users\Oa\AppData\Local\Temp\ipykernel_15700\2590268876.py:1: FutureWarning: The provided callable <function mean at 0x00000215AFBCD620> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['mean_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.mean)

In [35]:
df_ords_prods_merge.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559

In [36]:
df_ords_prods_merge.loc[df_ords_prods_merge['mean_order'] < 10, 'type_of_spender'] = 'Low spender'

In [37]:
df_ords_prods_merge.loc[df_ords_prods_merge['mean_order'] >= 10, 'type_of_spender'] = 'High spender'

In [38]:
df_ords_prods_merge.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,type_of_spender
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,16,12.5,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,19,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,17,1.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,19,3.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,4,10.3,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,19,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender

In [39]:
df_ords_prods_merge['frequency_median'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.median)

C:\Users\Oa\AppData\Local\Temp\ipykernel_15700\500770608.py:1: FutureWarning: The provided callable <function median at 0x00000215AFCEC0E0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['frequency_median'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.median)

In [40]:
df_ords_prods_merge.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,type_of_spender,frequency_median
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,12.5,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,3.0,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,10.3,both,Mid-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,4.7,both,Low-range product,Regularly busy,Average orders,10,New customer,5.813559,Low spender,6.0

In [41]:
df_ords_prods_merge.loc[df_ords_prods_merge['frequency_median'] > 20, 'type_of_frequency'] = 'Frequent customer'

In [42]:
df_ords_prods_merge.loc[(df_ords_prods_merge['frequency_median'] <= 20) & (df_ords_prods_merge['df_ords_prods_merge'] > 10), 'type_of_frequency'] = 'regular customer'

In [43]:
df_ords_prods_merge.loc[df_ords_prods_merge['frequency_median'] <= 10, 'type_of_frequency'] = 'Non-Frequent customer'

In [44]:
df_ords_prods_merge['type_of_frequency'].value_counts(dropna = False)

type_of_frequency
Frequent customer        12736967
Non-frequent customer    10635122
regular customer          9062123
Name: count, dtype: int64

In [45]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'merged_4.8.pkl'))